<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
</head>
<body>
    <div class="container">
        <h2>Registro de Usuario</h2>
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                {{ form.nombre(class="input") }}
            </div>
            <div class="form-group">
                <label for="correo">Correo:</label>
                {{ form.correo(class="input") }}
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña:</label>
                {{ form.contraseña(class="input") }}
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmar Contraseña:</label>
                {{ form.confirm_password(class="input") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="button") }}
            </div>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a>.</p>
    </div>
</body>
</html>
